const container_component = {
    template: `<div id="container-root" v-if="preview"> 
                    <div id="container-head">
                        <div id="heading">
                            <span class="material-symbols-outlined ">{{span}}</span>
                            <span id="text">{{name}}</span>
                        </div>
                    </div>
                    <div id="container-body">
                         <div  v-for="(item, index) in content_data" :key="index">
                           <div id="main_container" v-for="(value, key) in item" :key="key">
                                <div id="head">
                                 <span>{{split_name_for_head(key)}}</span>
                                </div>
                                <div id="content">
                                  <div id="sub_container" v-for="val in value" :key="val" @click="get_key_for_data(key, val,'click')">
                                     <div id="first_div">
                                        <preview-controller 
                                            :year="get_year(key)"
                                            :month="get_month(key)"
                                            :favourite_data="container_data"
                                            :data="get_key_for_data(key,val)"
                                            :date=get_date(val)
                                            :show_date="false"
                                            :favourite_access="false"
                                            :root_ref=root_ref>
                                        </preview-controller>
                                        <span id="date">{{val}}</span>
                                     </div>
                                  </div>
                                </div>
                           </div>
                         </div>
                    </div>
              </div>`
        ,
    props: {
        name: {
            type: String
        },
        span: {
            type: String
        },
        container_data: {
            type: Object
        },
        root_ref:{
            type:Object
        }
    },
    data() {
        return {
            content_data: {},
            month :[], 
            preview:true
        }
    },
    created() {
        this.construct_container();
        this.get_month();
        console.log(this.content_data);
        console.log(this.month);
    },
    methods: {
        construct_container(){
            var res = [], keys = Object.keys(this.container_data);
            var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            this.content_data = this.content_data || {};
            if (keys.length > 0) {
                var prev_date = new Date(parseInt(keys[0])), prev = month[prev_date.getMonth()] + ' ' + prev_date.getFullYear();
                for (var i = 0; i < keys.length; i++) {
                    var date = new Date(parseInt(keys[i]));
                    if (date.getMonth() == prev_date.getMonth() && date.getFullYear() == prev_date.getFullYear()) {
                        res.push(this.container_data[keys[i]]);
                    } else {
                        this.content_data[prev] = res;
                        res = [this.container_data[keys[i]]];
                        prev = month[date.getMonth()] + ' ' + date.getFullYear();
                    prev_date = date;
                    }
                }
                if (res.length != 0) this.content_data[prev] = res;
            }
        },
    },
}