<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="
        https://cdn.jsdelivr.net/npm/vue@3.4.21/dist/vue.global.min.js
        "></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/expandable-list/expandable-list.css">
    <link rel="stylesheet" href="/sidebar/sidebar.css">
    <link rel="stylesheet" href="/listitem/listitem.css">
    <link rel="stylesheet" href="/search_dropdown/search-dropdown.css">
    <link rel="stylesheet" href="/calendar/calendar.css">
    <link rel="stylesheet" href="/container/container.css">
    <link rel="stylesheet" href="/previewSidebar/previewSidebar.css">
    <link rel="stylesheet" href="/editor/editor.css">
    <link rel="stylesheet" href="/dropdown/simpleDropdown.css">
    <link rel="stylesheet" href="/diary/diary.css">
    <link rel="stylesheet" href="/preview/preview.css">
    <script src="https://cdn.jsdelivr.net/npm/mitt/dist/mitt.umd.js"></script>
    <script src="eventbus.js"></script>
    <script src="diaryQuery.js"></script>
    <script src="diaryListQuery.js"></script>
    <script src="/diary/diary_view.js"></script>
    <script src="/diary/diary_controller.js"></script>
    <script src="/expandable-list/expandable-list_view.js"></script>
    <script src="/expandable-list/expandable-list_controller.js"></script>
    <script src="/listitem/listitem_view.js"></script>
    <script src="/listitem/listitem_controller.js"></script>
    <script src="/search_dropdown/search-dropdown_view.js"></script>
    <script src="/search_dropdown/search-dropdown_controller.js"></script>
    <script src="/sidebar/sidebar_view.js"></script>
    <script src="/sidebar/sidebar_controller.js"></script>
    <script src="/calendar/calendar_view.js"></script>
    <script src="/calendar/calendar_controller.js"></script>
    <script src="/container/container_view.js"></script>
    <script src="/container/container_controller.js"></script>
    <script src="/previewSidebar/previewSidebar_view.js"></script>
    <script src="/previewSidebar/previewSidebar_controller.js"></script>
    <script src="/editor/editor_view.js"></script>
    <script src="/editor/editor_controller.js"></script>
    <script src="/dropdown/simpleDropdown_view.js"></script>
    <script src="/dropdown/simpleDropdown_controller.js"></script>
    <script src="/preview/preview_controller.js"></script>
    <script src="/preview/preview_view.js"></script>
    <script src="utility.js"></script>
</head>
<body>
    <div id="root">
        <div id="header">
            <div id="left_pane">
                <span id="icon">DIARY</span>
            </div>
        </div>
        <div id="content">
            <div class="diary">
                <div id="left-pane">
                    <sidebar-controller v-if="right_pane !== 'editor'"
                        :leftpane_listitem = "leftpane_listitem"
                        :config_details = "config_details"
                        :list_values = "months"
                        :root_ref = "root_reference"
                        :root_event = "root_events.side_pane"
                    ></sidebar-controller>
                    <preview-sidebar-controller v-else
                        :date_config="config_details"
                        :months="months"
                        :years="leftpane_listitem"
                        :month_data="month_data"
                        :favourite_data="Favourite_data" 
                        :root_ref="root_reference"
                        :root_event="root_events.preview_side_pane"
                    ></preview-sidebar-controller>
                </div>
                <div id="right-pane">
                <calendar-controller v-if="right_pane === 'calendar'" 
                        :date_config="set_date_config()"
                        :month_data= "month_data"
                        :root_ref="root_reference"
                        :root_event="root_events.calendar"
                >
                </calendar-controller>
                <editor-controller v-if= "right_pane === 'editor'"
                        :date_config="set_date_config( this.config_details.date)"
                        :data="data"
                        :back_to="previous_right_pane"   
                        :root_ref="root_reference"
                        :root_event=root_events.diary
                >
                </editor-controller>
                <container-controller  v-if ="right_pane === 'container'"
                        :header="{name:'Favourites',icon:'favorite'}"
                        :data="Favourite_data"
                        :root_ref="root_reference"
                        :root_event="root_events.calendar">
                </container-controller>
                </div>
                <event_bus :root="root_reference"></event_bus>
            </div>
        </div>
    </div>
</body>


<script>
    const app = Vue.createApp({
        data() {
            return {
                leftpane_listitem:[2024,2023],
                config_details:{selected:2024,month:'Apr',date:1,total_days:30},
                months:[],
                month_data:{},
                Favourite_data:{},
                data : {},
                eventbus: {},
                right_pane: 'calendar',
                previous_right_pane:'calendar',
                diaryList_Obj: null,
                utility:null,
                diary_List: {},
                root_reference: this,
                root_events:{
                        diary:{
                            save:'save',
                            back_to_favourite:'open_favourite',
                            back_to_calendar:'open_calendar'
                        },
                        side_pane:{
                            duration_change : 'open_calendar',
                            favourite_click : 'open_favourite'
                        },
                        preview_side_pane:{
                            duration_change : 'open_calendar',
                            add_to_fav:'add_to_favourite',
                            preview_click:'open_diary'
                        },
                        calendar : {
                            click:'open_diary'
                        },
                },
                all:app
            }
        },
        watch:{
            right_pane(current,old){
                if(current =='editor' && old == 'container'){
                    this.previous_right_pane = 'container';
                }
                console.log(app._context.components);
            }, 
        },
        created() {
            this.diaryList_Obj = new DiaryListQuery();
            this.diary_List = this.diaryList_Obj.getDiaryList();
            this.utility = new Utility();
            this.get_dropdown_values(2024);
            this.get_month_preview();
            this.total_days_in_month();
            this.get_Favourite_data();
            console.log('aaa');
            console.log(app._context.components);
        },
        methods: {
            get_month_preview() {
                var month_data = this.diaryList_Obj.getMonthData(this.config_details.selected, this.config_details.month);
                this.month_data = month_data;
            },

            save_json(json, date) {
                    var ref = this;
                    setTimeout(() => {
                        ref.diaryList_Obj.updateDiary(this.utility.get_timestamp(this.config_details.selected,this.config_details.month,date), json);
                        ref.get_month_preview();
                    },100);
            },

            add_fav(date) {
                var timestramp = this.utility.get_timestamp(this.config_details.selected,this.config_details.month,date); 
                this.diaryList_Obj.updateFavouriteData(timestramp);
            },
            get_Favourite_data(){
                this.Favourite_data = this.diaryList_Obj.getFavouriteData();
            },

            get_data() {
                var timestamp = this.utility.get_timestamp(this.config_details.selected,this.config_details.month, this.config_details.date);
                this.data = this.diaryList_Obj.currentDateData(timestamp);
            },

            get_dropdown_values() {
                this.months = this.utility.get_months(this.config_details.selected);
            },

            total_days_in_month(){
                this.config_details.total_days = this.utility.total_days_in_month(this.config_details.selected,this.config_details.month);
            },
            set_date_config(date){
                var data = {
                            year:this.config_details.selected,
                            month:this.config_details.month,
                            date:date,
                        }
                return data;
            },
        },
       
    })
    app.component('event_bus', event_bus)
    app.component('expandable-list-root', expandable_list_component);
    app.component('expandable-list-controller', expandable_list_controller);
    app.component('listitem-root', listitem_component);
    app.component('listitem-controller', listitem_controller);
    app.component('search-btn-root', search_button_component);
    app.component('search-btn-controller', search_button_controller);
    app.component('sidebar-root', sidebar_component);
    app.component('sidebar-controller', sidebar_controller);
    app.component('calendar-root', calendar_component);
    app.component('calendar-controller', calendar_controller);
    app.component('container-root', container_component)
    app.component('container-controller', container_controller);
    app.component('preview-sidebar-root', previewSidebar_component)
    app.component('preview-sidebar-controller', previewSidebar_controller);
    app.component('editor-controller', editor_controller);
    app.component('editor-root', editor_component);
    app.component('dropdown-root', simple_dropdown_component);
    app.component('dropdown-controller', simple_dropdown_controller);
    app.component('diary-component', diary_component);
    app.component('diary-controller', diary_controller)
    app.component('preview-controller', preview_controller)
    app.component('preview-root', preview_component)
    app.mount('.diary');
</script>


</html>