#monthOverview-sideBar{
    width: 100%;
    height: 100%;
}
#monthOverview-sideBar>#head{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:.7vw;
    height: 3vw;
}
#monthOverview-sideBar>#head>#content{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
#monthOverview-sideBar>#head>#content>.drop-down-root:not(:first-child){
    width: 45%;
}
#monthOverview-sideBar>#head>#content>.drop-down-root:hover{
    color: #fff;
    border-radius: 5px;
}
#monthOverview-sideBar>#head>#content>.drop-down-root>.sidebar-dropdown{
    width: 100% !important;
    border: none;
}
#monthOverview-sideBar>#head>#content>.drop-down-root>.sidebar-dropdown>span{
    font-size: .8vw;
}
#monthOverview-sideBar>#head>#content>.drop-down-root>.sidebar-dropdown>.material-symbols-outlined{
    font-size: 1.2vw;
}
#monthOverview-sideBar>#head>#content>.drop-down-root>#option>span{
    font-size: .8vw;
}
#monthOverview-sideBar>#head>#content>.drop-down-root>#option{
    color :#aeb6b9;
    background-color: #1A222B;
    width: 100%;
    border-radius: 3px;
    border-top: none;
    border-left:none ;
    max-height: max-content !important;

}
#monthOverview-sideBar>#head>#content>.drop-down-root>#option>.clicked{
     background-color: #3e3e4657 !important;
     color: #fff;
}
#monthOverview-sideBar>#head>#content>.drop-down-root>#option>span:hover{
    background-color: #3e3e4657;
    color: #fff;

}
#monthOverview-sideBar>#head>#content>#drop-down>#drop-down-head{
    display: flex;
    align-items: center;
    position: relative;
    height: 1.5vw;
    cursor: pointer;
    padding-left: .5vw;
}
#monthOverview-sideBar>#head>#content>#drop-down>#drop-down-head>.material-symbols-outlined{
    position:absolute;
    right: 0;
}

#monthOverview-sideBar>#head>#content>#drop-down>#option>span{
height: 1.5vw;
display: flex;
align-items: center;
cursor: pointer;

}
#monthOverview-sideBar>#head>#content>#drop-down>#option>span:hover{
    background-color: #34414f;
}
#monthOverview-sideBar>#body{
    overflow: scroll;
    scrollbar-width: none;
    height: calc(100% - 2vw);
    padding-bottom: 1vw;
    width: 100%;
    overflow-x: hidden;
}
#monthOverview-sideBar>#body>#day-container{
    height: 9vw;
    width: 100%;
    padding: 1vw;
    cursor: pointer;
    background-color: #1A222B;
    transition: .1s ease-in-out;
    position: relative;
}
#monthOverview-sideBar>#body>.active{
    background-color: #606060de !important;
    transform: scale(1.1);
    transition: .1s ease-in-out;
}
#monthOverview-sideBar>#body>.active:hover{
   transform: scale(1.1) !important;
}
#monthOverview-sideBar>#body>#day-container:hover{
    background-color: #3e3e46de;
    transform: scale(1.05);
}
#monthOverview-sideBar>#body>#day-container>img{
    width: 50%;
    height: 50%;
    position: absolute;
}
#monthOverview-sideBar > #head > #content > #drop-down>#option::-webkit-scrollbar-track {
    background-color: yellow !important;
}

#monthOverview-sideBar > #head > #content > #drop-down>#option::-webkit-scrollbar-thumb {
    background-color: #b54545;
    border-radius: 10px;
}
#monthOverview-sideBar>#head>#content>#month_dropdown{
    width: 40%;
}
#monthOverview-sideBar>#head>#content>#year_dropdown{
    width: 45%;
}
#monthOverview-sideBar>#head>#content>.drop-down-root:hover{
    color: #fff;
    border-radius: 5px;
}
#monthOverview-sideBar>#head>#content> div >.drop-down-root>#drop-down-head{
    width: 100% !important;
    border: none;
}
#monthOverview-sideBar>#head>#content> div >.drop-down-root>#drop-down-head>span{
    font-size: .8vw;
}
#monthOverview-sideBar>#head>#content> div >.drop-down-root>#drop-down-head>.material-symbols-outlined{
    font-size: 1.2vw;
}
#monthOverview-sideBar>#head>#content> div>.drop-down-root>#option>span{
    font-size: .8vw;
}
#monthOverview-sideBar>#head>#content> div >.drop-down-root>#option{
    color :#aeb6b9;
    background-color: #1A222B;
    width: 100%;
    border-radius: 3px;
    border-top: none;
    border-left:none ;
    max-height: max-content !important;

}
#monthOverview-sideBar>#head>#content> div >.drop-down-root>#option>.clicked{
     background-color: #3e3e4657 !important;
     color: #fff;
}
#monthOverview-sideBar>#head>#content> div >.drop-down-root>#option>span:hover{
    background-color: #3e3e4657;
    color: #fff;

}
#monthOverview-sideBar>#head>#content> div >#drop-down>#drop-down-head{
    display: flex;
    align-items: center;
    position: relative;
    height: 1.5vw;
    cursor: pointer;
    padding-left: .5vw;
}
#monthOverview-sideBar>#head>#content> div >#drop-down>#drop-down-head>.material-symbols-outlined{
    position:absolute;
    right: 0;
}

#monthOverview-sideBar>#head>#content> div >#drop-down>#option>span{
height: 1.5vw;
display: flex;
align-items: center;
cursor: pointer;
}
#monthOverview-sideBar>#head>#content> div >#drop-down>#option>span:hover{
    background-color: #34414f;
}